.privacy-page {
margin-top: -110px; /* đè lên header */
  padding-top: 100px; 
  background-color: #454240;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 70px;
}
.privacy-page h1 {
  font-size: 40px;
  font-weight: 700;
}
.privacy-page a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
}

.privacy-container p{
    font-size: 14px;
}

 .privacy-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: 'Inter', sans-serif;
  color: #666;
} 

.privacy-content section {
  margin-bottom: 40px;
}

.privacy-content h2 {
  font-size: 15px;
  color: #626262;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sub-section h3 {
  font-size: 15px;
  font-weight: 700;
  color: #212020;
  margin: 20px 0 10px;
}


/* Style cho danh sách dấu + */
.policy-list {
  list-style: none;
  padding-left: 0;
}
.policy-list li {
  font-size:13px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.policy-list li::before {
  content: "+ ";
  color: #444342;
}

/* Style cho các ô liên hệ cuối trang */
.contact-box-wrapper {
  margin-top: 20px;
}

.contact-box {
  background: #e9e9e9;
  border: 1px solid #eee;
  padding: 30px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.contact-box p {
  margin: 0;
  font-style: italic;
  color: #6f6f6f;
}

.note-text {
  font-size: 0.95em;
  color: #888;
}
